@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        * {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
        }
    
        body {
            width: 1280px;
        }

        nav {
            height: 100px;
            display: flex;
            gap: 675px;
        }

        h5 {
            display: inline;
            font-size: 20px;
            margin-inline-start: 8px;
        }

        .logo {
            display: flex;
            width: 154px;
            height: 35px;
            margin-block-start: 32.5px;
            margin-inline-start: 100px;
        }

        .signup {
            width: 251px;
            height: 54px;
            margin-block-start: 23px;
        }
        .signup a {
            text-decoration: none;
            color: #2D2D2D;
            font-size: 18px;
        }

        .signup button {
            width: 153px;
            height: 54px;
            background-color: #3366FF;
            border-radius: 10px;
            outline: none;
            border: none;
            margin-inline-start: 30px;
        }

        .header {
            width: 1280px;
            height: 600.24px;
            background-color: #F7F5FD;
        }

        .header h1 {
            padding-block-start: 143px;
            margin-inline-start: 255px;
            font-size: 80px;
            font-weight: 500;
            width: 769px;
            line-height: 90px;
            position: relative;
        }
        
        .header p {
            height: 90.24px;
            width: 466px;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            color: #2D2D2D;
            margin-block-start: 30px;
            margin-inline-start: 406px;

        }

        .header button, .cta button {
            width: 203px;
            height: 54px;
            background-color: #F8D57E;
            border-radius: 10px;
            border: none;
            outline: none;
            margin-block-start: 40px;
            margin-inline-start: 538.5px;
        }


.categories{
    padding-block: 40px;
    padding-inline: 300px;
}

.feature{
    display: flex;
    gap: 40px;
}

.feature:first-child{
    padding-block-end: 40px;
}

.feature-box{
    width: 320px;
    height: 304px;
    background-color: #F7F7F7;
    border-radius: 10px;
}

.features{
    margin: 40px;
}

.features h3{
    width: 197px;
    color: #2D2D2D;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    padding-block-end: 15px;
}

.features p{
    width: 230px;
    color: #2D2D2D;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    opacity: 50%;
}

.features img{
    width: 70px;
    height: 70px;
    padding-block-end: 30px;
}

.video{
    height: 600px;
    background-color: #F2FAF8;
}

.video img{
    margin: 70px 257px;
}

.testimony{
    height: 499.53px;
    background-color: #E5F4F2;

}

.testimony-content{
    width: 662px;
    color: #2D2D2D;
    padding-block: 133px;
    padding-inline: 309px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-content img{
    width: 61.84px;
    height: 45.53px;
    margin-block-end: 20px;
    
}

.testimony-content h3{
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    padding-block-end: 40px;
}

.testimony-content p{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    opacity: 50%;
    text-align: center;
}

.logos-section{
    height: 400px;
    background-color: #ffffff;
}

.logos-section img{
    width: 935.09px;
    height: 145px;
    padding-block: 127px;
    padding-inline: 172px;
}

.logo-container{
    height: 400px;
}

.logos-img{
    width: 935.09px;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    padding-inline: 172px;
    padding-block: 127px;
    justify-content: center;
}

.logo1{
    width: 133.35px;
    height: 35px;
}

.logo2{
    height: 35px;
    width: 29.48px;
}

.logo3{
    height: 40px;
    width: 60.09px;
}

.logo4{
    height: 35px;
    width: 115.58px;
}

.logo5{
    height: 35px;
    width: 106.32px;
}

.logo6{
    height: 35px;
    width: 140.26px;
}

.logo7{
    height: 35px;
    width: 88.49px;
}

.logo8{
    height: 28px;
    width: 100.34px;
}

.logo9{
    height: 35px;
    width: 166.64px;
}

.logo10{
    height: 35px;
    width: 197.98px;
}

footer{
    display: flex;
    gap: 136px;
    justify-content: center;
    padding-block: 50px;
    padding-inline: 100px;
}

footer .logos {
    width: 154px;
    display: flex;
    width: 154px;
    height: 35px;
}

footer ul:first-of-type{
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: 600;
}

footer ul:first-of-type li:first-child{
    display: flex;

}

footer ul:first-of-type li:first-child img{
    width: 15px;
    height: 18px;
    padding-inline-end: 10px;
}

footer ul:last-child{
    width: 180px;
    display: flex;
    list-style: none;
    gap: 20px;
}

footer ul:last-child img{
    width: 30px;
    height: 30px;
}

.cta{
    height: 502px;
    background-color: #FCFAF5;
}

.cta .title{
    font-size: 80px;
    line-height: 90px;
    font-weight: 600;
    text-align: center;
    padding-block: 107px 30px;
}

.cta .subtitle{
    font-weight: 400;
    text-align: center;
    width: 385px;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;
    opacity: 50%;
    padding-inline: 447.5px;
}

@media screen and (max-width: 361px){
    body {
       width: 360px;
    }  
       
    nav {
       width: 360px;
       height: 80px;
       display: flex;
       flex-direction: row;
   }

   .logo {
       margin-inline-start: 20px;
   }

   .signup {
       display: none;
   }

   .header {
       width: 360px;
       height: 602px;
       background-color: #F7F5FD;
   }
   
   .header h1 {
    padding-block-start: 80px;
    margin-inline-start: 25px;
    font-size: 50px;
    font-weight: 600;
    width: 310px;
    line-height: 60px;
    position: relative;
    text-align: center;
}

.header p {
    height: 126px;
    width: 320px;
    font-weight: 400;
    opacity: 50%;
    font-size: 18px;
    line-height: 32px;
    margin-block-start: 30px;
    margin-inline-start: 20px;
}
.header button, .cta button {
    width: 203px;
    height: 64.11px;
    margin-block-start: 40.66px;
    margin-inline-start: 79px;
}

.categories{
    padding-block: 80px;
    padding-inline: 20px;
}

.feature{
    flex-direction: column;
}
   
.video{
    height: 300px;
}

.video img{
    height: 192px;
    width: 319.3px;
    margin: 54px 20px;
}

.testimony{
    height: 553.53px;
}

.testimony-content{
    width: 281px;
    padding-block: 80px;
    padding-inline: 39.5px;
}

.logo-container{
    height: 215px;
}

.logos-img{
    width: 320.92px;
    height: 130.24px;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    padding-inline: 19px;
    padding-block: 41.92px;
    justify-content: center;
}

.logo1{
    width: 83.43px;
    height: 21.9px;
}

.logo2{
    height: 21.9px;
    width: 18.44px;
}

.logo3{
    height: 25.02px;
    width: 37.59px;
}

.logo4{
    height: 21.9px;
    width: 72.31px;
}

.logo5{
    height: 21.9px;
    width: 66.52px;
}

.logo6{
    height: 21.9px;
    width: 87.75px;
}

.logo7{
    height: 21.3px;
    width: 53.84px;
}

.logo8{
    height: 21.3px;
    width: 61.06px;
}

.logo9{
    height: 21.3;
    width: 101.4px;
}

.logo10{
    height: 17.04px;
    width: 120.47px;
}
 
footer{
    flex-direction: column;
    gap: 40px;
    padding-block: 40px;
    padding-inline: 40px 140px;
}

footer ul:first-of-type{
    flex-direction: column;
    gap: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}

footer ul:first-of-type li:first-child{
    display: flex;
}

footer ul:first-of-type li:first-child img{
    padding-block-start: 6px;
}

.cta{
    height: 511.02px;
}

.cta .title{
    font-size: 50px;
    line-height: 60px;
    padding-block: 80px 30px;
}

.cta .subtitle{
    width: 320px;
    padding-inline: 20px;
}
}